body {
  background-color: rgb(92, 90, 90);
  font-size: 1.5em;
}

.App {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
} */

.App-title {
  font-size: 1.5em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.App-intro {
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.button-container {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 20px;
  text-align: center;
}
.button {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color:darkslategray;
  border: 1;
  color: darkgray;
  font-size: 16px;
  height: 45;
  width: 75;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */